
.add
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;

}

.add-ref
{
    justify-content: space-around;
    padding-bottom: 0;
    width: 45%;
    margin: 0 auto;
}

.add-help
{
    justify-content: space-between;
    padding-bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}


.add__left, .add__right
{
    width: 50%;
}

.add-help .add__left
{
    width: 40%;
}


.add__right
{
    text-align: center;
}

.add-ref .add__right
{
    text-align: right;
}

.add__title
{
    font-family: $font-family-light;
    font-size: 25px;
    line-height: 35px;
    color: #08395b;
    padding-bottom: 40px;
    text-align: left;
}

.add-help .add__title
{
    padding-bottom: 20px;
}

.add__text
{
    font-family: $font-family;
    font-size: 14px;
    line-height: 21px;
    color: #48474d;
    margin-top: 0px;
    padding-bottom: 30px;
}

.add__link
{   
    font-family: $font-family-medium;
    font-size: 18px;
    line-height: 28px;
    color: #f57b20; 
    padding-top: 35px;
    padding-bottom: 40px;
}

.dsm__block
{
    display: flex;
    align-items: center;
    height: 100%;
}

.dsm__icon
{
    height: 50px;
}

.dsm__text
{
    font-family: $font-family;
    font-size: 13px;
    line-height: 18px;
    color: #48474d;
    padding-top: 30px;
}

.a_1
{
    position: relative;
    z-index: 997;
    box-shadow: 0px 24px 49px 0px rgba(0, 0, 0, 0.33);
}

.a_2
{
    position: relative;
    z-index: 999;
    bottom: 130px;
    right: 35px;
    box-shadow: 0px 24px 49px 0px rgba(0, 0, 0, 0.33);
}

.a_3
{
    position: relative;
    z-index: 999;
    bottom: 80px;
    box-shadow: 0px 24px 49px 0px rgba(0, 0, 0, 0.33);
}

.add__list
{
    column-count: 2;
    margin-top: 20px;
}

.add__item
{
    padding-bottom: 15px;
}



@media screen and (min-width: 768px) and (max-width: 1279px) {

  .add
  {
    width: 90%;
    margin: 0 auto;
  }
   
  .add__right {
    text-align: right;
}

.add-help
{
    display: flex;
    flex-direction: column;
}

.add-help .add__left
{
    width: 90%;
    margin: 0 auto;
}

.add-help .add__right
{
    width: 90%;
    margin: 0 auto;
    &--agro 
    {
        margin-top: 100px;
    }
}

.add__right--complect img
{
    width: 100%;
}

}


@media screen and (min-width: 0px) and (max-width: 767px) {

    .add
    {
        flex-direction: column;
    }

    .add-ref
    {
        width: 80%;
    }

    
    .add-ref .add__title
    {
        text-align: center;
    }

    .add-ref .add__right {
        text-align: center;
    }

    .add__left, .add__right {

        width: 90%;
        margin: 0 auto;
    
    }

    .add-help .add__left {

    width: 90%;

    }

img.adas__img 
{
    width: 100%;
}

.dsm__block
{
    flex-direction: column;
}

.dsm__card 
{
    margin-bottom: 30px;
}

.add__right--agro
{
    display: flex;
    flex-direction: column;

}

.a_1
{
    margin-bottom: 20px;
}

.a_2
{
    position: relative;
    z-index: 999;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 24px 49px 0px rgba(0, 0, 0, 0.33);
    margin-bottom: 20px;
}

.a_3
{
    position: relative;
    z-index: 999;
    bottom: 0px;
    box-shadow: 0px 24px 49px 0px rgba(0, 0, 0, 0.33);
    margin-bottom: 20px;
}

.add__right--complect img
{
    width: 100%;
}

}