.decide
{
    width: 100%;
    background-color: #f4fbff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.decide__all
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.decide__info
{
    width: 50%;
}

.decide__title
{
    font-family: $font-family-light;
    font-size: 25px;
    line-height: 35px;
    color: #08395b;
    padding-bottom: 20px;
}

.decide__list
{
    margin: 0;
    padding: 0;
}

.decide__list li 
{
    list-style: none;
}

.decide__item
{
    font-family: $font-family;
    font-size: 14px;
    line-height: 25px;
    color: #444b51;
    margin-bottom: 10px;
    margin-left: -10px;
}


.decide__list {
    list-style-type: none; 
    counter-reset: num;
    margin: 0 0 0 45px;
    padding: 15px 0 5px 0;
    font-size: 16px;
}
.decide__list  li {
    position: relative;    
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    line-height: 1.4;
    margin-bottom: 20px;
}
.decide__list  li:before {
    content: counter(num); 
    counter-increment: num;
    display: inline-block;
    position: absolute;
    font-family: $font-family;
    font-size: 16px;
    line-height: 32px;
    color: white;
    background: #f57b20;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: -7px;
    left: -48px;
}

.decide__img
{
    width: 50%;
    max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .decide__all
    {
        flex-direction: column;
    }

    .decide__info
    {
        width: 70%;
    }

    .decide__title
    {
        text-align: center;
    }




  }
  
  @media screen and (min-width: 0px) and (max-width: 767px) {


    .decide__all
    {
        flex-direction: column-reverse;
    }

    .decide__img
    {
        width: 100%;
    }

    .decide__img img
    {
        width: 100%;
        padding-bottom: 20px;
    }

    .decide__info {

        width: 80%;
        margin: 0 auto;
    
    }

    .decide__title
    {
        text-align: center;
        padding-bottom: 0;
    }

    .decide__item
    {
        width:100%;
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 10px;
        float: left;
        display: flex;
        align-items: center;
    }

    .decide__list  li:before
    {
        top: auto;
    }
  
  
  }