.ex-reports
{
    background-color: #f4fbff;
    padding-top: 40px;
    padding-bottom: 45px;
}

.ex-reports__images
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ex-reports__images img
{
    width: 100%;
}

.ex-reports__img img 
{
    border-radius: 10px;
}


/* Sensor */

.ex-reports__top .ex-reports__images
{
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: 80px;
    justify-content: center;
    &--mac 
    {
        width: 70%;
    }
}

.ex-reports__top .ex-reports__images--mac img 
{
    width: auto;
}

.ex-reports__top .ex-reports__title
{
    font-family: $font-family-light;
    font-size: 25px;
    line-height: 35px;
    color: #08395b;
    text-align: center;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: -40px;
}

.ex-reports__top .ex-reports__description
{
    font-family: $font-family;
    font-size: 14px;
    line-height: 23px;
    color: #48474d;
    text-align: center;
    text-align: center;
    width: 48%;
    margin: 0 auto;
    margin-bottom: 40px;
    &--seal 
    {
        width: 70%;
    }
}

.ex-reports__bottom .ex-reports__img
{
    height: 245px;
    display:inline-block;
    position:relative;
    border-radius: 0;
    box-shadow: 0px 8px 32px 0px rgba(45, 68, 78, 0.1);
    }

    
.ex-reports__bottom .ex-reports__img img
{
    border-radius: 0;
}


    .ex-reports__bottom .ex-reports__img .ex-reports__text {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 14px;
    line-height: 23px;
    color: #48474d;
    text-align: center;
    padding:10px;
    background-color: #fff;
    height: 100px;
    
    }

    .ex-reports__bottom .ex-reports__img .ex-reports__text p
    {

        width: 90%;
        margin: 0 auto;
        margin-top: 10px;

    }

    .ex-reports--logo
    {
        background-color: #f4fbff;
    }

    .ex-reports__title--logo
    {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .logo__area 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
        &--po 
        {
        justify-content: space-around;
        width: 50%;
        }
        &--pressure
        {
            width: 100%;
        }
    }



    .po__img 
    {
        width: 260px;
        height: 340px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 24px 49px 0px rgba(45, 68, 78, 0.17);
        padding-top: 30px;
        padding-left: 20px;

        &--ref 
        {
            width: auto;
            height: auto;
            padding-top: 0px;
            padding-left: 0px;
            padding-bottom: 0px;
            padding-right: 0px;
            display: flex;
            align-items: center;   
        }

    }

    .logo__area--pressure .po__img
    {
        width: auto;
        height: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
    }

    .logo__area--ref 
    {
        justify-content: space-between;
        width: 75%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
/* Help */

.logo__area--help
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo__card 
{
  width: 45%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 24px 49px 0px rgba(45, 68, 78, 0.17);
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.logo__content 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo__title
{
    font-family: $font-family;
    font-size: 18px;
    color: #f57b20;
    padding-bottom: 40px;
}

.logo__text
{
    width: 50%;
    font-family: $font-family;
    font-size: 14px;
    color: #48474d;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .ex-reports__images
    {
        flex-direction: column;
    }

    .ex-reports__img
    {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    
.ex-reports__images img
{
    width: 100%;
    margin: 0 auto;
}

    .ex-reports__top .ex-reports__title
    {
        width: 80%;
        margin-top: -20px;
    }

    .logo__area
    {
        width: 100%;
    }

    .logo__area--po
    {
        width: 100%;
        flex-direction: column;
    }

    .logo__area--pressure
    {
        width: 100%;
        flex-direction: column;
    }

    .po__img {
        
        max-width: 260px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .logo__area--help
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo__card 
{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px
}

.logo__text {

    width: 65%;
}

.dsm__block {

    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    text-align: center;

}

   
}


@media screen and (min-width: 0px) and (max-width: 767px) {

    .ex-reports--logo
    {
        padding-bottom: 0;
    }

    .ex-reports__images
    {
        flex-direction: column;
    }

    .ex-reports__img
    {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .ex-reports__img img
    {
        width: 100%;
    }

     
    .ex-reports__top .ex-reports__title
    {
        width: 80%;
        margin-top: -20px;
    }

    .ex-reports__top .ex-reports__description
    {
        width: 80%;
    }

    .ex-reports__top .ex-reports__images--mac img {

        width: 100%;
    
    }

    .logo__area 
    {
       flex-direction: column;
    }

    
    .logo__area img 
    {
        padding-bottom: 50px;  
    }

    .logo__area--ref img
    {
        padding-bottom: 0;
    }

    .logo__area img:nth-child(5)
    {
        padding-bottom: 0;
    }

    .logo__area--po
    {
        width: 100%;
    }

    .po__img {
        
        max-width: 260px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .po__img--ref {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .logo__area--ref img
    {
        width: 100%;
        padding-bottom: 0;
    }

    .logo__card 
{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px
}

.logo__content
{
    flex-direction: column;

}

.logo__text {

    width: 90%;
}


}