.header-desktop
{
    display: flex;
    width: 100%;
}

.header-mobile
{
    display: none;
}

.main-header
{
    width: 100%;
    height: 80px;
    background-color: #08395b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header__logo img 
{
    padding-top: 20px;
    padding-left: 35px;
}

.main-header__content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
}

.menu__list
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item
{
    padding-right: 20px;
}

.menu__item a
{
    font-family: $font-family-light;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.main-info
{
    display: flex;
}

.main-phone a 
{
  font-family: $font-family-black;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.main-call, .main-app
{
    width: 128px;
    height: 30px;
    background: inherit;
    border: 1px solid #f15822;
    border-radius: 12px;
    box-shadow: 0 0 1px 0px #f15822 inset, 0 0 1px 0px #f15822;
}

.main-call:hover
{
    background-color: #f15822;
}

.main-call:active
{
    background-color: #f15822;
}

.main-app:hover
{
    background-color: #f15822;
}

.main-app:active
{
    background-color: #f15822;
}

.main-call
{
    margin-right: 15px;
}

.main-call a
{
    font-family: $font-family;
    font-size: 12px;
    line-height: 1.4em;
    color: #fff;
    text-decoration: none;
}


.main-app a
{
    font-family: $font-family;
    font-size: 12px;
    line-height: 1.4em;
    color: #fff;
    text-decoration: none;
}

.main-header__info
{
    display: flex;
    align-items: center;
    padding-right: 35px;
}

.main-tp
{
    position: relative;
    padding-right: 18px;
}

.main-tp::before
{
    content: "";
    position: absolute;
    background-image: url("../img/plane_icon.svg");
    width: 30px;
    height: 30px;
    left: -40px;
    top: -5px;
}


.main-tp a 
{
    font-family: $font-family-light;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.main-login
{
    margin-top: 5px;
}



@media screen and (min-width: 1280px) and (max-width:  1570px) {

    .header-desktop
    {
        display: flex;
        width: 100%;
    }
    
    .header-mobile
    {
        display: none;
    }


    .main-header__logo img
    {
        width: 105px;
        padding-top: 23px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu__item {
        padding-right: 10px;
    }

    .main-info{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 45px;

}

    .main-phone a {
        font-family: "Lato-Black";
        font-size: 14px;
        line-height: 24px;
        margin-right: 10px;
        position: relative;
        top: 4px;
    }

    .main-tp::before {

        content: "";
        position: absolute;
        background-image: url("../img/plane_icon.svg");
        width: 30px;
        height: 30px;
        left: -25px;
        top: -13px;
    
    }

    .main-tp a {
        display: none;
    }


  }
  

  @media screen and (min-width: 768px) and (max-width:  1279px) {

    .header-desktop
    {
        display: none;
    }

    .header-mobile
    {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu__list
    {
        flex-direction: column;
    }

    .menu__item
    {
        padding-right: 20px;
        padding-bottom: 25px;
        padding-left: 20px;
    }

    .main-header__info
    {
        z-index: 999;
    }

    .main-header__logo
    {
        z-index: 999;
    }
      

  }

  @media screen and (min-width:0px) and (max-width:  767px) {

    .header-desktop
    {
        display: none;
    }

    .header-mobile
    {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-header__info
    {
        z-index: 999;
    }

    .main-header__logo
    {
        z-index: 999;
    }

    .main-header__logo img
    {
        width: 100px;
        padding-top: 30px;
        padding-left: 35px;
    }

    .menu__list
    {
        flex-direction: column;
    }

    .menu__item
    {
        padding-right: 20px;
        padding-bottom: 25px;
        padding-left: 20px;
    }

    .main-header__info
    {
        padding-left: 25px;
    }

    .main-tp::before {
        content: "";
        position: absolute;
        background-image: url("../img/plane_icon.svg");
        width: 30px;
        height: 30px;
        left: -20px;
        top: -13px;
    }
      
    .main-tp a {
        display: none;
    }

  }