.slider__breadcrumbs
{
  display: flex;
}

.slider__breadcrumbs .breadcrumbs__list
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-bottom: 15px;
}

.slider__breadcrumbs .breadcrumbs__item
{
  font-family: $font-family-light;
  font-size: 12px;
  color: #fff;
  padding-right: 7px;
}

.slider__breadcrumbs .breadcrumbs__item a 
{
  font-family: $font-family-light;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.slider__breadcrumbs .breadcrumbs__item a:hover
{
  border-bottom: 1px solid #fff;
}


.main__slider .slide_1
{
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient( 0deg, rgb(245,123,32) 0%, rgb(241,87,34) 100%);
}


.main__slider--control .slide_1
{
  height: 440px;
}

.main__slider--video .slide_1
{
  height: 512px;
}

.main__slider--sensor .slide_1
{
  height: 512px;
}

.main__slider--truck .slide_1
{
  height: 512px;
}

.slide__content
{
  display: flex;
  flex-direction: row-reverse;

}

.main__slider--video .slide__content
{
  height: 512px;
}

.main__slider--sensor .slide__content
{
  height: 512px;
}


.main__slider--truck .slide__content
{
  height: 512px;
}


.main__slider--seal .slide__content
{
  height: 512px;
}


.main__slider--drain .slide__content
{
  height: 512px;
}


.main__slider--help .slide__content
{
  height: 512px;
}

.main__slider--agro .slide__content
{
  height: 512px;
}

.slider__all
{
  text-align: left;
  max-width: 565px;
  padding-top: 80px;
  padding-left: 0px;
  width: 50%;
}

.slide__img
{
  padding-top: 0px;
  width: 50%;
}

.slide__img img
{
  width: 100%;
  height: auto;
}

.main__slider--control .slide__img img
{
  height: 440px;
}

.main__slider--video .slide__img
{
  background-image: url("../img/img_3.png");
  background-size: cover;
}

.main__slider--sensor .slide__img
{
  background-image: url("../img/img_4.png");
  background-size: cover;
}


.main__slider--truck .slide__img
{
  background-image: url("../img/truck.png");
  background-size: cover;
}

.main__slider--seal .slide__img
{
  background-image: url("../img/seal.png");
  background-size: cover;
}

.main__slider--drain .slide__img
{
  background-image: url("../img/drain_bg.png");
  background-size: cover;
}

.main__slider--pressure .slide__img
{
  background-image: url("../img/pres_bg.png");
  background-size: cover;
}

.main__slider--ref .slide__img
{
  background-image: url("../img/ref_bg.png");
  background-size: cover;
}

.main__slider--help .slide__img
{
  background-image: url("../img/help_bg.png");
  background-size: cover;
}

.main__slider--agro .slide__img
{
  background-image: url("../img/agro_bg.png");
  background-size: cover;
}


.slider__info
{
  font-family: $font-family-bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #fff;
}

.main__slider--main .slider__info
{
 padding-bottom: 60px;
}

.main__slider--control .slider__info
{
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 35px;
}

.main__slider--video .slider__info
{
  padding-bottom: 70px;
}

.main__slider--sensor .slider__info
{
  padding-bottom: 90px;
}

.main__slider--truck .slider__info
{
  padding-bottom: 90px;
}


.main__slider--seal .slider__info
{
  padding-bottom: 40px;
  width: 400px;
}

.main__slider--agro .slider__info
{
  width: 70%;
}

.slider__title
{
  font-family: $font-family-bold;
  font-size: 120px;
  line-height: 130px;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0;
}


.slider__description
{
  width: 420px;
  font-family: $font-family;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0em;
  color: #fff;
  &--control
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
  }
  &--sensor
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
  }
  &--truck 
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 24px;
  }
  &--drain
  {
    font-family: $font-family;
    font-size: 14px;
    line-height: 24px;
    padding-top: 40px;
  }
  &--pressure 
  {
    font-family: $font-family;
    font-size: 14px;
    line-height: 24px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &--ref 
  {
    font-family: $font-family;
    font-size: 14px;
    line-height: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &--help
  {
      font-family: $font-family;
      font-size: 14px;
      line-height: 24px;
     padding-top: 90px;
  }
  &--help-text
  {
      font-family: $font-family;
      font-size: 14px;
      line-height: 24px;
     padding-top: 20px;
  }

  &--agro
  {
      font-family: $font-family;
      font-size: 14px;
      line-height: 24px;
     padding-top: 60px;
  }
}

.slider__info span
{
  display: block;
}

.slider__description--ref .ref-text
{
  font-family: $font-family;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 20px;
}

.ref-text--one::before
{
  content: "";
  background-image: url("../img/ref_1.svg");
  position: absolute;
  width: 28px;
  height: 38px;
  left: -40px;
}


.ref-text--two::before
{
  content: "";
  background-image: url("../img/ref_2.svg");
  position: absolute;
  width: 26px;
  height: 35px;
  left: -40px;
}


.ref-text--three::before
{
  content: "";
  background-image: url("../img/ref_3.svg");
  position: absolute;
  width: 33px;
  height: 33px;
  left: -40px;
}


.drain__list
{ 
  width: 80%;
  list-style-type: none;
  font-family: $font-family;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.slider__description--agro a
{
  text-decoration: none;
  color: #fff;
}

.slider__dots
{
  width: 490px;
  bottom: 120px;
  margin-left: 50px;
}

.video__title
{
  font-family: $font-family;
  font-size: 13px;
  line-height: 21px;
  padding-bottom: 30px;
}

.main__slider--seal .video__title
{
  padding-bottom: 15px;
}

.main__slider--main .slider__title
{
 padding-bottom:50px;
}

.video__list
{
  margin-left: 12px;
}

.video__list li
{
  font-family: $font-family;
  font-size: 13px;
  line-height: 21px;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

  .slider__breadcrumbs
  {
    width: 280px;
    text-align: center;
    margin: 0 auto;
  }

  .breadcrumbs__list
  {
    justify-content: center;
    text-align: center;
    width: 280px;
  }

  .slider__all
  {
    width: 100%;
    max-width: none;;
    text-align: center;
  }

  .main__slider--sensor .slide_1 {
    height: 400px;
}

.main__slider--truck .slide_1 {
  height: 420px;
}

.main__slider--seal .slide__content {
  height: 720px;
}

  .main__slider--control .slider__info
  {
    padding-bottom: 0;
  }

  .main__slider--sensor .slider__info {
    padding-bottom: 60px;
}

  .main__slider--video .slider__info {
    padding-bottom: 0px;
}

.main__slider--truck .slider__info {
  padding-bottom: 0px;
}

.main__slider--main .slider__info {
  padding-bottom: 40px;
}

.main__slider--seal .slider__info {
  padding-bottom: 0px;
  width: 400px;
  margin: 0 auto;
}

  .slider__description
    {
      width: 420px;
      margin: 0 auto;
      margin-top: 50px;
    }

    .main__slider--main .slider__description
    {
      margin-top: 0px;
      margin-bottom: 100px;
    }

    .main__slider--sensor .slider__description {
      margin-top: 0;
  }

    .slider__description--truck-double
    {
      margin-top: 10px;
    }

    .main__slider--seal .slider__description {
      margin-top: 30px;
  }

    .main__slider--help .slider__info {
      padding-top: 20px;
  }

   .main__slider--help .slider__description {
      margin-top: 0px;
  }


.main__slider--agro .slider__info {

    width: auto;
    padding-top: 30px;

}

.slider__description--agro
{
  margin-top: 0;
}


    .slider__description--control
    {
      font-size: 16px;
    }

     .slider__description--help
    {
      margin-top: 0;
    }

    .main__slider--control .slide__img
    {
      display: none;
    }

    
    .main__slider--video .slide__img
    {
      display: none;
    }

    .main__slider--sensor .slide__img
    {
      display: none;
    }

    .main__slider--truck .slide__img
    {
      display: none;
    }

  .slide__img
  {
    width: auto;
  }

.slick-slide img
{
  display: none;
}

.main__slider--truck .slider__info {
  padding-bottom: 0px;
}


.video__title
{
  font-family: $font-family;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
}

.video__list
{
  margin-left: 12px;
  list-style-type: none;
}

.video__list li
{
  font-family: $font-family;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 10px;
}

.slider__description--pressure {
  padding-top: 0;
}

}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .slider__breadcrumbs
  {
    width: 90%;
    max-width: 280px;
    text-align: center;
    margin: 0 auto;
  }

  .breadcrumbs__list
  {
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 280px;
  }


  .slider__all
  {
    width: 100%;
    max-width: none;;
    text-align: center;
    padding-top: 40px;

  }

  .slider__info
  {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: center;
  }

  
.main__slider--truck .slider__info {
  width: auto;
  padding-bottom: 0px;
}

  .slider__title {
    font-family: "Lato-Bold";
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #fff;
    margin: 0;
}

.slider__description {
  width: 50%;
  font-family: "Lato";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fff;
  margin: 0 auto;
      margin-top: 0px;
  margin-top: 40px;
}

  
.main__slider--truck .slider__description {
  width: 90%;
  font-size: 16px;
}

.slider__description--truck-double
{
  margin-top: 10px;
}

  .slide__img
  {
    width: auto;
  }

  .main__slider--control .slide__img
  {
    display: none;
  }

  .main__slider--video .slide__img
  {
    display: none;
  }

  
  .main__slider--sensor .slide__img
  {
    display: none;
  }

  
  .main__slider--truck .slide__img
  {
    display: none;
  }

.slick-slide img
{
  display: none;
}

.main__slider .slide_1
{
  width: 100%;
  height: 430px;
}

.main__slider--control .slide_1 {
  width: 100%;
  height: 620px;
}


.main__slider--video .slide_1 {

  width: 100%;
  height: 460px;

}

.main__slider--sensor .slide_1 {
  height: 450px;
}

.main__slider--seal .slide_1  {
  height: 690px;
}

.main__slider--drain .slide_1  {
  height: 690px;
}

.main__slider--pressure .slide_1  {
  height: 600px;
}

.main__slider--ref .slide_1  {
  height: 500px;
}

.main__slider--help .slide_1  {
  height: 600px;
}

.main__slider--agro .slide_1  {
  height: 600px;
}


.slider__dots
{
  width: 80%;
  margin: 0 auto;
  bottom: 160px;
  margin-left: 50px;
}

.main__slider--main .slider__info {
  padding-bottom: 0px;
}

.main__slider--control .slider__info {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 0px;
}

.main__slider--seal .slider__info {
  padding-bottom: 0px;
  width: 260px;
}


.main__slider--video .slider__info {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 0px;
}

.main__slider--drain .slider__info 
{
  width: auto;
}


.main__slider--ref .slider__info
{
  width: 80%;
}


.main__slider--main .slider__description
{
  margin-top: 0;
}

.main__slider--agro .slider__info
{
  width: 80%;
  margin-top: 0;
}

.main__slider--agro .slider__description
{
  width: 90%;
  margin-top: 0px;
  padding-top: 20px;
}

.main__slider--help .slider__info {

    width: 80%;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;

}

.main__slider--help .slider__description {

    width: 90%;
    font-family: "Lato";
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    color: #fff;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 0px;
    margin-top: 0px;
    padding-top: 50px;

}

.slider__description--control
{
  width: 80%;
  margin-top: 0;
}

.main__slider--video .slider__description{

margin-top: 20px;
text-align: left;
}

.main__slider--seal .slider__description
{
  width: 80%;
}

.slider__description--drain
{
  padding-top: 20px;
}

.slider__description--sensor
{
  width: 80%;
}

.slider__description--pressure {

  width: 80%;
  padding-top: 0;
}

.slider__description--ref
{
  width: 80%;
  padding-top: 20px;
  text-align: left;
  padding-bottom: 0;
}

.main__slider--sensor .slider__info {
  width: 230px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.video__title
{
  padding-bottom: 20px;
}

.video__list
{
  list-style-type: none;
}

.video__list li
{
  margin-bottom: 20px;
}

.drain__list
{
  margin: 0 auto;
  padding-top: 30px;
}

.drain__list li
{
  margin-bottom: 10px;
}
  
  }