
.main__slider .slide_1
{
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient( 0deg, rgb(245,123,32) 0%, rgb(241,87,34) 100%);
}


.main__slider--control .slide_1
{
  height: 440px;
}

.main__slider--video .slide_1
{
  height: 512px;
}

.main__slider--sensor .slide_1
{
  height: 512px;
}

.main__slider--truck .slide_1
{
  height: 512px;
}

.slide__content
{
  display: flex;
  flex-direction: row-reverse;

}

.slider__all
{
  text-align: left;
  max-width: 565px;
  padding-top: 80px;
  padding-left: 0px;
  width: 50%;
}

.slide__img
{
  padding-top: 0px;
  width: 50%;
}

.slide__img img
{
  width: 100%;
  height: auto;
}

.main__slider--control .slide__img img
{
  height: 440px;
}

.slider__info
{
  font-family: $font-family-bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #fff;
}

.main__slider--control .slider__info
{
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 35px;
}

.main__slider--video .slider__info
{
  padding-bottom: 90px;
}

.main__slider--sensor .slider__info
{
  padding-bottom: 90px;
}

.main__slider--truck .slider__info
{
  padding-bottom: 90px;
}

.slider__title
{
  font-family: $font-family-bold;
  font-size: 120px;
  line-height: 130px;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0;
}


.slider__description
{
  width: 420px;
  font-family: $font-family;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0em;
  color: #fff;
  &--control
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
  }
  &--sensor
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
  }
  &--truck 
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 24px;
  }
}

.slider__dots
{
  width: 490px;
  bottom: 120px;
  margin-left: 50px;
}

.video__title
{
  font-family: $font-family;
  font-size: 13px;
  line-height: 21px;
}

.video__list
{
  margin-left: 12px;
}

.video__list li
{
  font-family: $font-family;
  font-size: 13px;
  line-height: 21px;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

  .slider__all
  {
    width: 100%;
    max-width: none;;
    text-align: center;
  }

  .main__slider--video .slider__info {
    padding-bottom: 0px;
}

.main__slider--truck .slider__info {
  padding-bottom: 0px;
}

  .slider__description
    {
      width: 420px;
      margin: 0 auto;
      margin-top: 50px;
    }

    .slider__description--truck-double
    {
      margin-top: 10px;
    }

    .main__slider--control .slide__img
    {
      display: none;
    }

    
    .main__slider--video .slide__img
    {
      display: none;
    }

    .main__slider--sensor .slide__img
    {
      display: none;
    }

    .main__slider--truck .slide__img
    {
      display: none;
    }

  .slide__img
  {
    width: auto;
  }

.slick-slide img
{
  display: none;
}

.main__slider--truck .slider__info {
  padding-bottom: 0px;
}


.video__title
{
  font-family: $font-family;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
}

.video__list
{
  margin-left: 12px;
}

.video__list li
{
  font-family: $font-family;
  font-size: 18px;
  line-height: 30px;
}

}

@media screen and (min-width: 0px) and (max-width: 767px) {


  .slider__all
  {
    width: 100%;
    max-width: none;;
    text-align: center;
    padding-top: 40px;

  }

  .slider__info
  {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: center;
  }

  
.main__slider--truck .slider__info {
  width: auto;
  padding-bottom: 0px;
}

  .slider__title {
    font-family: "Lato-Bold";
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #fff;
    margin: 0;
}

.slider__description {
  width: 50%;
  font-family: "Lato";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fff;
  margin: 0 auto;
      margin-top: 0px;
  margin-top: 40px;
}

  
.main__slider--truck .slider__description {
  width: 90%;
  font-size: 16px;
}

.slider__description--truck-double
{
  margin-top: 10px;
}

  .slide__img
  {
    width: auto;
  }

  .main__slider--control .slide__img
  {
    display: none;
  }

  .main__slider--video .slide__img
  {
    display: none;
  }

  
  .main__slider--sensor .slide__img
  {
    display: none;
  }

  
  .main__slider--truck .slide__img
  {
    display: none;
  }

.slick-slide img
{
  display: none;
}

.main__slider .slide_1
{
  width: 100%;
  height: 430px;
}

.main__slider--control .slide_1 {
  width: 100%;
  height: 620px;
}


.main__slider--video .slide_1 {

  width: 100%;
  height: 460px;

}

.main__slider--sensor .slide_1 {
  height: 450px;
}

.slider__dots
{
  width: 80%;
  margin: 0 auto;
  bottom: 160px;
  margin-left: 50px;
}

.main__slider--control .slider__info {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 0px;
}


.main__slider--video .slider__info {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 0px;
}

.slider__description--control
{
  width: 80%;
  margin-top: 0;
}

.main__slider--video .slider__description{

margin-top: 20px;
text-align: left;
}

.slider__description--sensor
{
  width: 80%;
}

.main__slider--sensor .slider__info {
  width: 230px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.video__title
{
  padding-bottom: 20px;
}
  
  }