.monitoring 
{   
    width: 100%;
    height: auto;
    background-image: url(../img/monitoring.png);
    padding-top: 50px;
    padding-bottom: 30px;
}

.monitoring--control
{   
    width: 100%;
    height: auto;
    background-image: url(../img/mon_con.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 30px;
}

.monitoring--sensor
{   
    width: 100%;
    height: auto;
    background-image: url(../img/mon_bg.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 30px;
}



.monitoring__blocks
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.monitoring__blocks--video
{
    justify-content: space-between;
}


.block
{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.block-big
{
    width: 60%;
}

.monitoring__blocks--video .block-big
{
    width: 49%;
    margin-bottom: 20px;
}


.monitoring--sensor .block-big
{
    width: 49%;
}



.block-little
{
    width: 35%;
}



.block__all
{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.block__title
{
    width:215px;
    font-family: $font-family-bold;
    font-size: 18px;
    line-height: 28px;
    color: #f57b20;
    padding-bottom: 20px;
    &--control
    {
        width: 70%;
    }
}


.block__title--video 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.block__title--video span
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.block__info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 35px;
}

.block__list 
{
    width: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}


.block__list--double
{
    width: 100%;
    list-style-position: inside;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    list-style-type:none;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 35px;
    }


.block__item 
{
    width: 100%;
    font-family: $font-family;
    font-size: 14px;
    line-height: 22px;
    color: #444b51;
    list-style-type: none;
    padding: 0px 0px 0px 40px; 
    margin-bottom: 15px;
    padding-right: 85px;
    &--ik 
    {
        margin-bottom: 35px;
    }
}

#item_1, #item_5
{
    background-image: url(../img/item_1.svg);
    background-repeat: no-repeat;
    background-position: left;
}

#item_2, #item_6
{
    background-image: url(../img/item_2.svg);
    background-repeat: no-repeat;
    background-position: left;
}


#item_3, #item_7
{
    background-image: url(../img/item_3.svg);
    background-repeat: no-repeat;
    background-position: left;
}


#item_4, #item_8
{
    background-image: url(../img/item_4.svg);
    background-repeat: no-repeat;
    background-position: left;
}

#item_9
{
    background-image: url(../img/item_5.svg);
    background-repeat: no-repeat;
    background-position: left;
}

#item_10
{
    background-image: url(../img/item_6.svg);
    background-repeat: no-repeat;
    background-position: left;
}


#item_11
{
    background-image: url(../img/item_7.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.block__price
{
    font-family: $font-family;
    font-size: 25px;
    color: #08395b;
}

.block__price span
{
    font-family: $font-family;
    font-size: 14px;
    color: #08395b;
}

.block__button 
{
    width: 105px;
    height: 30px;
    border-width: 1px;
    border-color: rgb(245, 123, 32);
    border-style: solid;
    border-radius: 10px;
    background-image: linear-gradient( 90deg, rgb(245,123,32) 0%, rgb(241,87,34) 100%);
    font-family: $font-family;
    font-size: 12px; 
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

    .monitoring__blocks
    {
        flex-direction: column;
    }

    .monitoring--sensor  .monitoring__blocks
    {
        flex-direction: column;
    }

    .block-little {
        width: 310px;
        margin: 0 auto;
            margin-bottom: 0px;
        margin-bottom: 20px;
    }

    .block-big {
        width: 565px;
        margin: 0 auto;
    }

    .monitoring__blocks--video .block-big {
        width: 90%;
        margin-bottom: 20px;
    }

    .monitoring--sensor .block-big {
        width: 90%;
        margin-bottom: 20px;
    }

    .block__item {
        padding-right: 25px;
    }


  }
  
  @media screen and (min-width: 0px) and (max-width: 767px) {

    .monitoring {
        width: 100%;
        height: auto;
        background-image: inherit;
        padding-top: 20px;
        padding-bottom: 0px;
    }
  
 
    .monitoring__blocks
    {
        flex-direction: column;
    }

    .block
{
    border-radius: 0px;
}

.block__all
{
    width: 90%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.block__title {
    width: 80%;
    font-family: "Lato-Bold";
    font-size: 18px;
    line-height: 28px;
    color: #f57b20;
    text-align: center;
    margin: 0 auto;
}

    .block-little {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
            margin-bottom: 0px;
        margin-bottom: 50px;
    }

    .block-big {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .monitoring__blocks--video .block-big {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .monitoring__blocks--sensor .block-big {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .monitoring--sensor .block-big {
        width: 90%;
        margin: 0 auto;
    }

    .block__list--double
    {
        column-count: 1;
    }

    .block__item
    {
        font-size: inherit;
    }

    .block__title--video 
{
    flex-direction: column;
}

.block__title--video span
{
    width: 90%;
    justify-content: center;
   margin: 0 auto;
   margin-top: 15px;
}

.monitoring__blocks--video .block__price {
    font-size: 20px;

}


  }