.white 
{   
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
}


@media screen and (min-width: 0px) and (max-width: 767px) {

.white {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
}