.work__title
{
    font-family: $font-family-light;
    font-size: 25px;
    line-height: 35px;
    color: #08395b;
    padding-bottom: 20px;
    text-align: center;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

    .work__img img 
    {
        width: 100%;
    }


  }
  
  @media screen and (min-width: 0px) and (max-width: 767px) {

    .work__img img 
    {
        width: 100%;
    }
  
  
  }